<%= erb(:header, :layout => false) %>
<link type="text/css" rel="stylesheet" href="/css/styles.css">
<div class="wrapper">
  <div id="box">
    <center><div id="bag"><img src="http://i.imgur.com/8wtpSqu.png" alt="bag"/></div></center>
      <form action="/cannedfood/create" method="post">
        <p>How many canned goods are you willing to part with?:</p>
        <input type="integer" name="num_cans" placeholder="4" required>
        <p>Have something to put them in (Yes/No) ?:</p>
        <input type="text" name="container" placeholder="Yes" required>
        <p> Pickup Date(Dec.20-Jan.4) / Time:</p>
        <input type="text" name="pickup_time" placeholder="12-23 7:30pm"required>
	       <p>Pickup Location:</p>
        <input type="text" name="pickup_location" placeholder="1234 N 1st St" required>
        <input type="submit" value="Submit!">
    </form>
  </div>
</div>