<%= erb(:header, :layout => false) %>
<link type="text/css" rel="stylesheet" href="/css/styles.css">
<div class="wrapper">
  <div id="box">
    <center><div id="donation"><img src="http://i.imgur.com/9yswaT7.png" alt="cart"/></div></center>
		<h3> Don't do it! </h3>
		<form action='/donation/delete/<%= @donation_to_delete.id%>>' method='post'>
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" value="<%= @donation_to_delete.id %>" name="donation_to_delete_id">
			<input id="submit" type="submit" value="Delete :("/>
		</form>
	</div>
</div>
<a href="/profile/thankyou">Cancel :D </a>