<%= erb(:header, :layout => false) %>
<link type="text/css" rel="stylesheet" href="/css/styles.css">

<div class="landing_page">

<h2>Welcome and Happy Holidays, Neighbors.</h2>
<div class="nourished">
<p>With my first WDI project falling right before Christmas break I thought it would be great to do something for our community. With this on my mind, I came up with "Nourishing Neighbors," a website that allows people to commit to making a meal, donating canned goods, other miscellaneous items, or writing a Holiday greeting with the promise that I will pickup and deliver what ever one prepares during my two week break from class.</p>

<p>What you provide will not only nourish your brother's or sister's body, but will nourish both of your souls.</p>

<center><p>If you feel compelled to, please sign up.</p><center>
</div>
<center><img src="http://i.imgur.com/KJ88x5I.png"><center>
</div>