<!DOCTYPE html>
<html>
  <head>
    <title> Nourishing Neighbors </title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <%= yield %>
      <footer>
      	<p>
      </footer>
  </body>

</html>