<%= erb(:header, :layout => false) %>
<link type="text/css" rel="stylesheet" href="/css/styles.css">
<div class="wrapper">
  <div id="box">
    <center><div id="card"><img src="http://i.imgur.com/PUAuD96.png" alt="card"/></div></center>
		<form action="/greeting/update/<%= @greeting_to_edit.id %>" method="post">
			<input type="hidden" name="_method" value="put">
			<p>What would you like to say?:</p>
  			<input type="text" name="edited_body" placeholder="<%= @greeting_to_edit.body %>">
  			<input id="submit" type="submit" value="Update!"/>
		</form>
	</div>
</div>
<a href="/profile/thankyou">Cancel</a>